[SddmGreeterTheme]
Name=Manatee
Description=A gentle SDDM greeter that follows the pywal palette.
Author=lunga
License=MIT
Type=sddm-theme
Version=1.0
Website=
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=
Theme-Id=manatee
Theme-API=2.0
QtVersion=6
