QMenu {
    background-color: #0c090e;
    color: #e4dee5;
    border: 1px solid #211055;
    padding: 4px;
    border-radius: 8px;
}

QMenu::item {
    padding: 6px 24px;
    border-radius: 4px;
}

QMenu::item:selected {
    background-color: #5D4C91;
    color: #0c090e;
}

QMenu::separator {
    height: 1px;
    background-color: #211055;
    margin: 4px 12px;
}
