QMenu {
    background-color: #0f0d16;
    color: #e6e4cf;
    border: 1px solid #0096b4;
    padding: 4px;
    border-radius: 8px;
}

QMenu::item {
    padding: 6px 24px;
    border-radius: 4px;
}

QMenu::item:selected {
    background-color: #18D2F0;
    color: #0f0d16;
}

QMenu::separator {
    height: 1px;
    background-color: #0096b4;
    margin: 4px 12px;
}
