QMenu {
    background-color: #0f0a13;
    color: #acb9e7;
    border: 1px solid #00229c;
    padding: 4px;
    border-radius: 8px;
}

QMenu::item {
    padding: 6px 24px;
    border-radius: 4px;
}

QMenu::item:selected {
    background-color: #2F5ED8;
    color: #0f0a13;
}

QMenu::separator {
    height: 1px;
    background-color: #00229c;
    margin: 4px 12px;
}
